<style>
 .bleh {
    color: #b0c4de;
} 
</style>
<div class="row">
   <img ng-show="stf.undergraduateFlag" src="images/undergradBanner.png">

</div>
   <br>
<div class="row">
   <!-- <div class="col-md-3">
                             <div class="panel panel-success">
                                <div class="panel-heading">
                                  <h3 class="panel-title">View By</h3>
                                </div>
                               
                                 <div class="list-group">
                                      <a ng-click="pAZ()" class="list-group-item">Programs A-Z</a>
                    									<a ng-click="pF()" class="list-group-item">Programs by Faculty</a>
                    									<a ng-click="cAZ()" class="list-group-item">Courses A-Z</a>
                    									<a ng-click="csa()" class="list-group-item">Courses by Subject Area</a>
                    									<a ng-click="sAZ()"class="list-group-item">Specialisations A-Z</a>
                    									<a ng-click="aoi()" class="list-group-item">Areas of Interest</a>
                    									<a ng-click="careers()" class="list-group-item">Careers</a>
                    									<a ng-click="grsi()" class="list-group-item">Genereal Rules & Student Info</a>
                    									<a ng-click="fs()" class="list-group-item">Faculties & Schools</a>
                    									<a href="#/classTimetable" class="list-group-item">Class Timetable</a>
                    									<a ng-click="glossary()" class="list-group-item">Glossary</a>
                                   

                                 </div>

                             </div>

   <!-- end col-3 -->
   </div> 
   <div class="col-md-12">
   <!-- div for programs AZ -->
<!--       <div ng-show="cslFlags.pAZFlag">
         Programs AZ
          <div class="panel panel-success">
                <div class="panel-body">
                   <div class="table-responsive">
                       <table id="pAZTable" class="display table .table-condensed">
                         <thead>
                           <th>Program Title</th>
                           <th>Award Level</th>
                           <th>Type</th>
                           <th>Code</th>
                           <th>Faculty</th>
                       
                         </thead>
                      </table>
                  </div>
                </div>
              </div> 
      </div> -->
      <!-- div for programs by faculty -->
       <div>
         ALL
           <accordion close-others="oneAtATime">
              <accordion-group is-open="status1.open">
                <accordion-heading>
                   Programs  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !status1.open, 'glyphicon-chevron-up': status1.open}"></i>
                </accordion-heading>
                 <div class="table-responsive">
                      <table id="pAZTable" class="display table .table-condensed">
                         <thead>
                           <th>Program Title</th>
                           <th>Award Level</th>
                           <th>Type</th>
                           <th>Code</th>
                           <th>Faculty</th>
                       
                         </thead>
                      </table>
                  </div> 
              </accordion-group>
              <accordion-group is-open="status3.open">
                <accordion-heading>
                    Streams <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !status3.open, 'glyphicon-chevron-up': status3.open}"></i>
                </accordion-heading>
                <div class="table-responsive">
                       <table id="STTable" class="display table .table-condensed">
                         <thead>
                           <th>Program Title</th>
                           <th>Award Level</th>
                           <th>Type</th>
                           <th>Code</th>
                           <th>Faculty</th>
                       
                         </thead>
                      </table>
                  </div> 
            </accordion-group>
              <accordion-group is-open="status2.open">
                <accordion-heading>
                    Courses <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !status2.open, 'glyphicon-chevron-up': status2.open}"></i>
                </accordion-heading>
                <div class="table-responsive">
                       <table id="cAZTable" class="display table .table-condensed">
                         <thead>
                           <th>Code</th>
                           <th>Course Title</th>
                           <th>Units of Credit</th>
                         </thead>
                      </table>
                  </div> 
            </accordion-group>
      

          </accordion>
      </div>
    <!-- courses by AZ -->
     <!--  <div ng-show="cslFlags.cAZFlag">
         courses by AZ
          <div class="panel panel-success">
                <div class="panel-body">
                   <div class="table-responsive">
                       <table id="cAZTable" class="display table .table-condensed">
                         <thead>
                           <th>Code</th>
                           <th>Course Title</th>
                           <th>Units of Credit</th>
                         </thead>
                      </table>
                  </div>
                </div>
              </div> 
      </div>
 -->
      

   <a id="selectCourse" href="#/courseSelected" ng-show="false">select<a>
    <a id="selectProgram" href="#/programSelected" ng-show="false">select<a>

   <!-- end col-9 -->
   </div>
<!-- end row -->
</div>