<style>
  .icon-list li {
  padding: 0 0 5px 20px;
  display: block;
  position: relative;
}
.icon-list li:before {
  font-family: 'Glyphicons Halflings';
  position: absolute;
  left: 0px;
  top:3px;
  font-size:80%
}
.chevron-right li:before {
 content: '\e080';
}

.checkmark li:before {
 content: '\e067';
}

.arrow-right li:before {
 content: '\e092';
}
.centered {
   position: relative;
    left: 30%;
}
</style>

    	
	
             <br>
  			 <div class="col-md-3 column">
  		       Select The right level for You: <br><br>
               <accordion close-others="oneAtATime">
		              <accordion-group is-open="status1.open">
		                <accordion-heading>
		                   Undergraduate Study  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !status1.open, 'glyphicon-chevron-up': status1.open}"></i>
		                </accordion-heading>
		                         <div class="panel-heading">
		                                  <h3 class="panel-title">For:</h3>
		                           </div>
		                     <ul class="list-unstyled icon-list chevron-right">
			                      <li>future UG students</li>
			                      <li> current UG students</li>
		                     </ul>
		                <a href="#/courses" ng-click="undergrad()" type="button" class="btn btn-warning btn-lg centered">
		                  <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Go
		                </a>
		              </accordion-group>
		              <accordion-group is-open="status2.open">
		                <accordion-heading>
		                    Postgraduate Coursework Study <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !status2.open, 'glyphicon-chevron-up': status2.open}"></i>
		                </accordion-heading>
							<div class="panel-heading">
                                  <h3 class="panel-title">For students who:</h3>
                            </div>    
                                 <ul class="list-unstyled icon-list chevron-right">
						  		     <li> have completed a UG degree and are interested in PG coursework mode</li>			  				
								</ul>
								<a type="button" href="#/courses" ng-click="postgrad()" class="btn btn-success btn-lg centered">
								  <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> go
								</a>
		            </accordion-group>
		              <accordion-group is-open="status3.open">
		                <accordion-heading>
		                    Postgraduate Research <br> Study <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !status3.open, 'glyphicon-chevron-up': status3.open}"></i>
		                </accordion-heading>
                            <div class="panel-heading">
                                  <h3 class="panel-title">For students who:</h3>
                            </div>
                                 <ul class="list-unstyled icon-list chevron-right">
						  		     <li> have completed a UG degree and are interested in PG research mode</li>			  				
								</ul>
								<a href="#/courses" ng-click="postGradRes()" type="button" class="btn btn-info btn-lg centered">
								  <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> go
								</a>
		            </accordion-group>
		             <accordion-group is-open="status4.open">
		                <accordion-heading>
		                    Non-Award Study  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !status4.open, 'glyphicon-chevron-up': status4.open}"></i>
		                </accordion-heading>
		                 <div class="panel-heading">
                                  <h3 class="panel-title">For students who:</h3>
                            </div>
                                  <ul class="list-unstyled icon-list chevron-right">
						  		     <li> wish to study without award of a formal degree, diploma or certificate</li>			  				
								</ul>
								<a href="#/courses" ng-click="nonAward()" type="button" class="btn btn-danger btn-lg centered">
								  <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> go
								</a>
		            </accordion-group>
		            
		          </accordion>

  
            <!-- end of column -->
			</div> 


            <div class="col-md-5">
                 At UNSW Australia we develop leaders who shape the future. We’re a powerhouse of cutting-edge research and teaching in the Asia-Pacific. Our students benefit from a diverse and innovative learning experience and our graduates are highly sought after by employers globally.
                 <br>
                 <br>

                 UNSW is a powerhouse of cutting-edge research and teaching in the Asia-Pacific

    The University is ranked 48th in the QS World University Rankings 2014.
    Australia’s most innovative university at the 2012 Thomson Reuters Citation and Innovation Awards.
    Top research university in NSW and fourth nationally in the Excellence in Research for Australia report.
    UNSW is a member of the prestigious Group of Eight - a coalition of Australia's leading research intensive universities.
    We are the only Australian university invited to join the prestigious Global Alliance of Technological Universities.
            </div>
 <!-- search bar starts here -->
            <div class="col-md-4">

					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">
								Search the UNSW Handbook
							</h3>
						</div>
						<div class="panel-body">
						   <h3>Quick Search</h3>
						   
						   Select a Study Level and enter a word or phrase for the Program, Stream, Course or Specialisation you're looking for.
						  <br>
						  <br>

							 <form>
							   <div class="row">
							       <div class="form-group">                
					                 <label class="control-label col-sm-3" for="studyLevel"> Study Level: </label>
					                 <div class="col-sm-6">			                    
					                     <select class="form-control"  id="studyLevel">
				                              			<option>Undergraduate</option>
				                              			<option>Postgraduate</option>
				                              			<option>Research</option>
				                              		</select>

					                </div>
					                
					                
					            </div>

			                   </div>
			                   <div class="row">
			                     <br>
							       <div class="form-group">   

					                 <label class="control-label col-sm-3" for="studyLevel"> Word/Phrase: </label>
					                 <div class="col-sm-6">			                    
					                     <input type="text" class="form-control">

					                </div>

					                
					            </div>
			                   </div>
			                   <div class="row">
					                <div class="col-sm-3">	
					                  <button type="button" class="btn btn-primary">Search</button>
					                </div>
			                   </div>
			                 </form>          	
			            
						</div>
						
					</div>






				</div> 	

    


  <!-- end of first row -->
	


			<div class="row clearfix">
		
           <!-- end row -->
         </div>



         <div class="row"> 
		
               	<div class="col-md-12 column">
                  <div class="col-md-12 column">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h3 class="panel-title">
								Quick Links
							</h3>
						</div>
						<div class="panel-body">
						    <div class="col-md-1 col-md-offset-1">
                                <a href="#/quickLinks" ng-click="duaRedirect()" ><img src="images/dua.png"></a> 
						    </div>
						    <div class="col-md-1">
                               <a href="#/quickLinks" ng-click="moodleRedirect()"><img src="images/moodle.png"></a>
						    </div>
						    <div class="col-md-1">
                               <a href="#/quickLinks" ng-click="dpqRedirect()"><img src="images/dpq.png"></a>
						    </div>
						    <div class="col-md-1">
                               <a href="#/quickLinks" ng-click="lrRedirect()"><img src="images/lecRecordings.png"></a>
						    </div>
						    <div class="col-md-1">
                               <a href="#/quickLinks" ng-click="raRedirect()"><img src="images/resApplicants.png"></a>
						    </div>
						    <div class="col-md-1">
                               <a href="#/quickLinks" ng-click="aoRedirect()"><img src="images/applyOnline.png"></a>
						    </div>
						    <div class="col-md-1">
                               <a href="#/quickLinks" ng-click="iaRedirect()"><img src="images/intApplicants.png"></a>
						    </div>
						    <div class="col-md-1">
                               <a href="#/quickLinks" ng-click="feesRedirect()"><img src="images/fees.png"></a>
						    </div>
						    <div class="col-md-1">
                               <a href="#/quickLinks" ng-click="acRedirect()"><img src="images/academicCal.png"></a>
						    </div>
						    <div class="col-md-1">
                               <a href="#/quickLinks" ng-click="feRedirect()"><img src="images/feeEstimator.png"></a>
						    </div>
						</div>
						
					</div>
				</div>
				</div>

<!-- end row -->
		</div>







		</div>
	</div>
