<div>

 {{posts}}
</div>

     <div class="table-responsive">
          <table id="selectStreamSingleTable" class="display table .table-condensed">
                         <thead>
                           <th>Name</th>
                           <th>Code</th>
                           <th>School</th>
                       
                         </thead>
           </table>
     </div> 


   <a id="selectedStream" class="button" href="#/singleAwardRule" ng-show="true" ng-click="getStreamRules()">Show Rules<a>