<div ng-show="qL.moodleFlag">
  <iframe src="https://moodle.telt.unsw.edu.au/login/index.php" id="moodleFrame" scrolling="yes" frameborder="0"
    style="position: relative; height: 800px; width: 100%;"></iframe> 
</div>

<div ng-show="qL.duaFlag">
  <iframe src="http://www.unsw.edu.au/future-students/domestic-undergraduate/what-makes-us-us/lets-go" id="duaFrame" scrolling="yes" frameborder="0"
    style="position: relative; height: 800px; width: 100%;"></iframe> 
</div>

<div ng-show="qL.dpqFlag">
   <iframe src="http://www.unsw.edu.au/future-students/postgraduate-coursework" id="dpqFrame" scrolling="yes" frameborder="0"
    style="position: relative; height: 800px; width: 100%;"></iframe> 
</div>

<div ng-show="qL.lecRecordingsFlag">
   <iframe src="https://student.unsw.edu.au/lecture-recordings" id="lrFrame" scrolling="yes" frameborder="0"
    style="position: relative; height: 800px; width: 100%;"></iframe> 
</div>

<div ng-show="qL.resApplicantsFlag">
   <iframe src="http://research.unsw.edu.au/future-students" id="raFrame" scrolling="yes" frameborder="0"
    style="position: relative; height: 800px; width: 100%;"></iframe> 
</div>

<div ng-show="qL.applyOnlineFlag">
   <iframe src="https://apply.unsw.edu.au/portal/dt?desktop.suid=uid=anonymousApplicant,ou=People,dc=unsw,dc=edu,dc=au" id="aoFrame" scrolling="yes" frameborder="0"
    style="position: relative; height: 800px; width: 100%;"></iframe> 
</div>

<div ng-show="qL.intApplicantsFlag">
  <iframe src="http://www.international.unsw.edu.au/#1" id="iaFrame" scrolling="yes" frameborder="0"
    style="position: relative; height: 800px; width: 100%;"></iframe> 
</div>

<div ng-show="qL.feesFlag">
  <iframe src="https://student.unsw.edu.au/fees" id="feesFrame" scrolling="yes" frameborder="0"
    style="position: relative; height: 800px; width: 100%;"></iframe> 
</div>

<div ng-show="qL.academicCalFlag">
 <iframe src="https://student.unsw.edu.au/calendar" id="acFrame" scrolling="yes" frameborder="0"
    style="position: relative; height: 800px; width: 100%;"></iframe> 
</div>

<div ng-show="qL.feeEstimatorFlag">
  <iframe src="https://nss.cse.unsw.edu.au/feest/" id="feFrame" scrolling="yes" frameborder="0"
    style="position: relative; height: 800px; width: 100%;"></iframe> 
</div>